<div class="container mt-5">
  <!-- Titolo principale -->
  <h1 class="text-center text-primary mb-4 display-4">Videogames</h1>

  <!-- Lista dei videogiochi -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (videogame of allVideoGames; track $index) {
      <!-- Contenitore per ogni videogioco -->
      <div class="col">
         <!-- [videogame] è una proprietà input che passa i dati del videogioco al componente app-videogame -->
        <app-videogame [videogame]="videogame"></app-videogame>
      </div>
    }
  </div>
</div>
