<!-- <div>
  <dialog open>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="enteredNome">
          <label for="cognome" class="form-label">Cognome</label>
          <input type="text" class="form-control" id="cognome" name="cognome" [(ngModel)]="enteredCognome">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="enteredEmail">
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Telefono</label>
          <textarea type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="enteredTelefono"></textarea>
        </div>
        <div class="mb-3">
          <label for="indirizzo" class="form-label">Indirizzo di spedizione:</label>
          <textarea type="text" class="form-control" id="indirizzo" name="indirizzo" [(ngModel)]="enteredIndirizzo"></textarea>
        </div>
       
      
        <button type="button" class="btn btn-danger rounded-pill" (click)="onClose()">Chiudi</button>
        <button type="submit" class="btn btn-success rounded-pill">Prenota</button>
      </form>
  </dialog>
</div> -->


